@inherits LayoutComponentBase
<HeadContent>
    <link href="css/chatbot.css" rel="stylesheet" />
</HeadContent>
<!-- Layout đơn giản chỉ chứa @Body -->
<h1></h1>
@Body
<Chatbot />
<!-- Import JS cho Landing -->
<script src="js/Landing.js"></script>

